.productlist{
	flex: 4;
  padding: 20px;
}

.productlist__title{
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-params {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-image {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.product-edit{
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #7da807;
  margin-right: 25px;
  padding: 7px 15px;
  cursor: pointer;
}

.product-delete{
  color: #ff0000;
  font-size: 1.5rem;
  cursor: pointer;
}